.custom-card {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin: 20px 0px;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
}

.custom-flex {
    display: flex;
}

.file-upload_container input[type="file"] {
    position: relative;
    z-index: 1;
    cursor: pointer;
    min-height: auto;
    padding-left: 4px;
    padding-top: 0;
    line-height: 10px;
    width: 100%;
    opacity: 0;
}

.visible-input {
    border: solid 2px #0da4de;
    box-shadow: none;
    height: 55px;
    font-size: 14px;
    padding: 0 0 0 45px;
    border-radius: 6px;
    position: relative;
}

.upload-custom_btn {
    position: absolute;
    background: #c0d8e2;
    border-radius: 5px;
    right: 2px;
    top: 5.5px;
    width: 41px;
    height: 41px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}