.row {
  margin: 0;
}
.navigation {
  /* box-shadow: 0px 0px 6px rgba(16, 159, 218, 0.15);
  -webkit-box-shadow: 0px 0px 6px rgba(16, 159, 218, 0.15); */
  position: relative;
  z-index: 99;
}
.tf_tell {
  background: #f7f9fa;
  float: none;
}
.tf_tell_left h2 span {
  margin: 0 0 0 15px;
}
.tf_profile {
  background: #fff;
}
.tf_drag_form {
  position: relative;
}
.tf_contracts_mile span.no-margin {
  margin: 0;
}
.tf_drag_form.mt-10 {
  height: 100%;
}
span.payment-msg {
  background: #0DA4DE;
  color: #FFFFFF ;
  border-radius: 15px;
  float: right;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
}
.pym-msg-container span.exp-msg {
  line-height: 3rem;
}
.exp-msg > p, span.exp-msg {
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}
.tf_drag_form:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 50%, #223049 50%);
  background-size: 60px 100%;
}
.tf_drag_form input {
  top: 0;
  height: 100%;
}
.step-two label {
  display: block;
}
.vis-icon {
  width: 35px;
  font-size: 2.2rem;
  color: #0DA4DE;
  float: left;
  padding: 0 10px 0 0;
  max-width: 100%;
  vertical-align: middle;
}
.no-pd-left {
  padding-left: 0;
}

.tf_skills_1 h6.all-content {
    border: none;
    font-size: 14px;
    color: rgb(0, 123, 255);
    border-radius: none; 
    padding: 7px 15px;
    margin: 0 10px 20px 0;
    float: left;
    background: #fff; 
}

.bg-blk, .tf_skills_1 h6.bg-blk {
  background: black;
  cursor: pointer;
}
.home-after-login-my-profile-image + i  {
  position: absolute;
  top: 5%;
  left: 67%;
  background: #eeee;
  padding: 7px;
  border-radius: 100%;
  color: #333;
  margin: 10px 0;
  float: right;
  cursor: pointer;  
}
.no-pd-left > a {
  cursor: pointer;
}
.no-padding {
  padding: 0;
}
.react-autosuggest__input {
  border: solid 2px #ddd;
  box-shadow: none;
  height: 50px;
  font-size: 13px;
  padding: 0 15px;
  border-radius: 5px;
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0
}

#addEducation .modal-body .react-date-picker__wrapper {
  border: none;
}

.milestone-calender .react-date-picker__wrapper {
  border: none;
  height: 55px;
}
.attachment-file-name img{
  width:20px;
}
.attachment-file-name {
  margin-top: 10px;
  padding-left:15px;
}

#addEducation .modal-body .react-date-picker__inputGroup__input, #addEducation .modal-body .react-date-picker__inputGroup__input:focus, input.react-date-picker__inputGroup__input:focus, .react-date-picker__calendar-button svg:focus, button.react-date-picker__calendar-button:focus, .react-date-picker__clear-button:focus {
  border: none;
  outline: none;
}
.milestone-calender .react-calendar__tile, #Deposit_tf_des .react-calendar__tile ,#collapseOne .react-calendar__tile, .row .react-calendar__tile, .schedule-your-initial-interview-popup .react-calendar__tile {
  padding: 0.15em 0.1em;
}
.milestone-calender .react-calendar__navigation, #Deposit_tf_des .react-calendar__navigation ,#collapseOne .react-calendar__navigation, #addEducation .modal-body .react-calendar__navigation, .modal-body .react-calendar__navigation , .row .react-calendar__navigation {
  height: 30px;
  margin-bottom: 0.3em;
}
.milestone-calender .react-date-picker__calendar, #Deposit_tf_des .react-date-picker__calendar,#collapseOne .react-date-picker__calendar, .row .react-date-picker__calendar {
  bottom: auto !important;
}
.schedule-interview {
  min-height: calc(100vh - 150px);
}
.schedule-interview.tf_inter .tf_profile {
  margin: 10% auto;
  box-shadow: 0px 0px 6px rgba(16, 159, 218, 0.15);
  -webkit-box-shadow: 0px 0px 6px rgba(16, 159, 218, 0.15);
}
.tf_profile hr {
  border-top: 2px solid #daf1fa;
}
.tf_schedule h5 {
  margin: 15px 15px 0;
}
.tf_schedule p {
  font-size: 14px;
  margin-top: 0;
}
.schedule-interview .modal-content {
  margin: 20% 0;
  padding: 0 0 15px 0;
}
.schedule-interview .tf_loca {
  margin: 5px 0 5px 0;
}
.tf_model .modal-header {
  float: none;
  border-bottom: 1px solid #daf1fa;
}
.modal-backdrop.in {
  filter: alpha(opacity=20);
  opacity: .4;
  background-color: #d3d4d5;
}
.modal-content {
  border-radius: 0;
}
.modal-header .close {
  opacity: 1;
}
.modal-header .close img {
  width: 20px;
}
.modal-content .input-group .mn_input {
  height: 48px;;
}
.modal-content .tf_change a {
  height: 48PX;
  padding: 14px 10px;
  font-size: 14px;
  margin: 41px 0 0 0;
}
.selectedwrap::after {
  content: "\f107";
  height: 40px;
  color: #000;
}
#myModal1 .modal-body {
  padding: 15px 0;
}
#myModal1 .tf_slot a {
  padding: 9px 40px;
}
#myModal1 .tf_slot1 p {
  color: #0fa4de;
  font-weight: 600;
}
#myModal1 .tf_slot1 p span {
  color: #404040;
  width: 70px;
  padding: 0;
  display: inline-block;
}
#myModal1 .tf_profile hr {
  margin: 15px 0;
}
#myModal1 .tf_model .modal-footer {
  border: none;
}
.tf_my_aws h4 {
  color: #0DA4DE;  
  font-size: 17px;
  line-height: 25px;
}
.content .btn-primary.mn_button.btnLinkSubmit {
  right: auto;
  background: #0da4de;
  width: 15%;
  border-radius: 0;
  border: none;
  padding: 9px 0px 9px 0px;
}
.dates-attended-from {
    height: unset;
}
.dates-attended-to {
    height: unset;
}

.tf_custom_notification_landing_page{
width: 100%;
float: left;
background:
rgb(255, 255, 255);
box-shadow: 0 0 5px
rgb(221, 221, 221);
}

.tf_custom_notification_landing_page h2 {
border-bottom: 1px solid rgb(204, 236, 248);
color:rgb(13, 164, 222);
font-size: 20px;
font-weight: 700;
padding: 0 15px 15px;
margin-top: 20px !important;
margin-bottom: 10px !important;
}

.tf-notification-title-sec {
position: relative;
display: inline-block;
width: 100%;
}
.tf-notification-edit-dropdown{
position: relative;
}
.tf-notification-more-icon {
position: absolute;
right: 15px;
z-index: 1;
padding: 0 8px;
}
.tf_custom_notification_landing_page .tf-notification-more-icon{
  top: -8px;
}
.dates-attended-from .react-date-picker__wrapper{
  width: 100%;
}
.dates-attended-to .react-date-picker__wrapper{
  width: 100%;
}
.content .btn.skill-set {
  position: inherit;
}

.row .react-datepicker__day-name, 
.row .react-datepicker__day, 
.row .react-datepicker__time-name,
.modal-body .react-datepicker__day-name, 
.modal-body  .react-datepicker__day, 
.modal-body .react-datepicker__time-name,
.margin-tops .react-datepicker__day, 
.margin-tops .react-datepicker__day-name,
.margin-tops .react-datepicker__time-name {
  width: 2.7rem;
  font-size: 12px;
  line-height: 2.7rem;
}
.Select-a-Time-Slot + div.react-datepicker-wrapper {
  width: 50%;
}
.input-group .react-datepicker-wrapper .mn_input {
  padding: 0 0px 0px 10px;
}
.job-details-container {
  margin-top: -10px;
  margin-bottom: 10px;
  border: 0;
}

.grid-loader {
  margin-top: 100px;
  text-align: center;
  min-height: calc(100vh - 170px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.jobDetailsContent{
  max-width: 1170px;
  margin: 0 auto;
}

/* =========================== media css start here =========================== */

@media (max-width: 420px) {
  nav.navbar-findcond-1 a span {
    font-size: 14px;
  }
  .tf_tell_left h2 {
    font-size: 26px;
  }
}
@media (min-width: 1600px){
  .container {
      width: 1336px;
    }
}